.card {
  display: flex;
  padding: 2em 0;
  max-width: 800px;
  margin: 0 auto;
  color: var(--clr-text-main);
}

.card--img {
  height: 100%;
  width: 20rem;
  object-fit: cover;
  border-radius: 0.3em;

  transform: scale(1);
  transition: all 650ms ease-in-out;
}

.card--img:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}

.card--info {
  margin-left: 1em;
  padding: 0.5em;
}

.card--location--icon {
  color: var(--clr-accent);
}

.card--location {
  display: inline;
  font-size: 0.75em;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  margin: 0 1em 0 0.25em;
  color: var(--clr-text-main);
}

.card--location--url {
  color: var(--clr-text-light);
  font-size: 0.75em;
}

.card--title {
  font-size: 2rem;
  margin: 0.25em 0;
}

.card--date {
  font-weight: 700;
}

.card--description {
  max-width: 50rem;
  margin-top: 2em;
  font-size: 0.9rem;
  line-height: 150%;
}


@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .card--img {
    width: 100%;
  }

  .card--infos {
    margin: 1em 0 0 0;
    padding: 0;
  }
}